.home-page {
    
   

    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        
        

    }
   
    
    h1{
        color: rgb(255, 255, 255);
        font-size: 53px;
        margin: 0;
        font-family: "Coolvetica";
        font-weight: 400;
       
        &::before{
            content: "<h1>";
            font-family: "La Belle Aurore"; 
            color: #8c00ff;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
           
        }
        &::after{
            content: '<h1/>';
            font-family: "La Belle Aurore";
            color: #8c00ff;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 10px;
            animation: FadeIn 1s 1.7s backwards;
            opacity: 0.6;
           
        }
        img{
            width: 32px;
        }
    }

h2{
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    background-color: rgb(19, 19, 19, 1);
    padding-left: 20px;
    margin-right: 33%;
    animation: fadeIn 1s 1.8s backwards;
}

.flat-button {
    color: #8c00ff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #8c00ff;
    margin-top: 25px;
    float: left;
    animation: fadeOut backwards;
    white-space: nowrap;

    &:hover {
        animation: fadeIn .2s .2s backwards;
        color: white;
        border: 1px solid white;
        
    }
}
    .iimage-Wall{
        background-image: url("../../assets/images/wallpapery.png");
        margin-top: -5%;
        position: relative;
        width: 100%;
        height: 120%;
        background-position-x: center;
        background-position-y: 0px;
        background-size: cover;
        opacity: .25;

        
    }
    &:hover {
        h1{
            &::before{
                content: "<h1>";
                font-family: "La Belle Aurore";
                color: rgb(184, 184, 184);
                font-size: 18px;
                position: absolute;
                margin-top: -40px;
                left: 15px;
                opacity: 1;
                animation: fadeIn .2s .2s backwards;
            
               
            }
            &::after{
                content: '<h1/>';
                font-family: "La Belle Aurore";
                color: rgb(184, 184, 184);
                font-size: 18px;
                position: absolute;
                margin-top: 18px;
                margin-left: 10px;
                animation: fadeIn .2s .2s backwards;
                opacity: 1;
               
            }
        }
    }
}